{% extends 'main_page.html' %}

{% block title %}
CST
{% endblock %}

{% block body %}
    <table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Email ID's</th>
        </tr>
    </thead>
    <tbody>
        {% for email in emailList %}
        <tr>
            <td>{{email[0]}}</td>
        </tr>
        {%endfor%}
    </tbody>
    </table>
    <body class = "text-center">
    <div class =  "container">
        <br>
    <form method="POST" style="color:white">
        <input type="hidden" name="form-name" value="form1">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <br>
        {{ form.submit(class = "btn btn-lg btn-block btn-primary")}}
    </form>
    </div>
    </body>
{% endblock %}