{% extends 'main_page.html' %}

{% block title %}
Statistics
{% endblock %}

{% block body %}
    <div align="center" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px">
    <h1>
    Statistics for the email test
        <br>
        <br>
    <img src="static/images/foeVSscam.png" alt="Image of wrong email" width="700", height="500">
        <br>
        <br>

    <img src="static/images/loeVSscam.png" alt="Image of wrong email">
        <br>
        <br>
    <img src="static/images/yoeVSscam.png" alt="Image of wrong email">
        <br>
    </h1>
    </div>
{% endblock %}